{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header>
    <div class="shopping-bag-hero">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Shopping Bag</h1>
                    <span class="hero-border"></span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}

<div class="shopping-bag-container">
    <div class="container">
        {% if bag_items %}
            <div class="row">
                {% for item in bag_items %}
                <div class="col-12">
                    <div class="bag-items d-flex flex-wrap">
                        {% if item.product.image %}
                            <div class="product-image">
                                <img class="img-thumbnail mb-4" src="{{ item.product.image.url }}" alt="{{ item.product }}">
                            </div>
                            
                            {% else %}
                            <div class="product-image">
                                <img class="img-thumbnail mb-4" src="{{ MEDIA_URL }}default.png" alt="default product image">
                            </div>
                        {% endif %}
                        <div class="bag-item-info">
                            <h2>{{ item.product }}</h2>
                            {% if item.product.category %}
                            <span class="category d-inline-block mb-4">{{ item.product.category }}</span>
                            {% endif %}
                            <div class="product-price"><i class="fas fa-euro-sign"></i>{{ item.product.price }}</div>
                            <form class="bag-form" action="{% url 'remove_item' item.product.id %}" method="post">
                                {% csrf_token %}
                                <input class="mt-3" type="submit" value="Remove item">
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
        <div class="col-12">
        </div>
        <div class="row">
            <div class="col-12">
                <div class="no-items d-flex align-items-center">
                    <i class="fa-solid fa-heart-crack"></i>
                    <p class="mb-0 ml-2">It looks like you don't have any items in your shopping bag.</p>
                </div>
                <div class="shop-redirects">
                    <a href="{% url 'templates' %}" class="shop-templates btn-link">Shop our templates</a>
                    <a href="{% url 'designs' %}" class="shop-designs btn-link">Shop our designs</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% if bag_items %}
            <div class="bag-total d-flex mt-3">
                <p>Bag Total: </p>
                <span class="bag-total-price"><strong><i class="fas fa-euro-sign"></i>{{ total }}</strong></span>
            </div>
            <a href="{% url 'checkout' %}" class="btn-link">
                <span class="font-weight-bold">Complete Order</span>
                <span class="icon">
                    <i class="fas fa-lock"></i>
                </span>
            </a>
        {% endif %}
    </div>
</div>

{% endblock %}
