{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
    <header>
        <div class="profile-hero bg-dark">
            <div class="container">
                <h1 class="d-inline-block">
                    My Profile:
                    <div class="hero-border"></div>
                </h1>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}

<div class="profile-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button class="btn-link">Update Information</button>
                </form>
            </div>
            <div class="col-md-6">
                <div class="order-history">
                    <p>Order history</p>
                    {% for order in orders %}
                        <div class="order-container">
                            <strong>Order number: {{order.order_number}}</strong>
                            <div class="order-items">
                                <p class="order-items-heading"><strong>Order items:</strong></p>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                        <li class="order-item">
                                            {{ item.product.name }} - <i class="fas fa-euro-sign"></i>{{item.product.price}}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <p class="order-total"><strong>Order total: <i class="fas fa-euro-sign"></i>{{ order.order_total }}</strong></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
