{% extends "base.html" %}
{% load static %}

{% block extra_title %} Checkout {% endblock %}

{% block page_header %}
    <header>
        <div class="hero-global">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="checkout-hero-title mb-4">
                            <h1>Checkout</h1>
                            <span class="hero-border"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <section class="checkout-container">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-2 order-md-1">
                    <form class="checkout-form" id="payment-form" action="{% url 'checkout' %}" method="post">
                        {% csrf_token %}
                        {{order_form|crispy}}
                        <fieldset class="fieldset-container">
                            <legend class="fieldset-label">Payment</legend>
                            <!-- A Stripe card element will go here -->
                            <div class="mb-3" id="card-element"></div>
                            <!-- Used to display form errors -->
                            <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                            <a href="{% url 'bag' %}" class="btn-link">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="font-weight-bold">Adjust Bag</span>
                            </a>
                            <button id="submit-button" class="order-btn">
                                <span class="font-weight-bold">Complete Order</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </button>
                            <p class="charged-amount">
                                <span class="icon">
                                    <i class="fas fa-exclamation-circle"></i>
                                </span>
                                <span>Your card will be charged <strong><i class="fas fa-euro-sign"></i>{{ total }}</strong></span>
                            </p>
                            <input type="hidden" value="{{ client_secret }}" name="client_secret">
                        </fieldset>
                    </form>
                </div>
                <div class="col-md-6 order-1 order-md-2">
                    <div class="checkout-items mb-3 mb-md-0">
                        <div class="order-summary">
                            <p>Order summary ({{ bag_items|length }}) <i class="fas fa-chevron-down ml-3"></i></p>
                        </div>
                        {% for item in bag_items %}
                            <div class="checkout-item mb-4">
                                {% if item.product.image %}
                                    <div class="product-image">
                                        <img class="img-thumbnail mb-4" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                                    </div>
                            
                                {% else %}
                                    <div class="product-image">
                                        <img class="img-thumbnail mb-4" src="{{ MEDIA_URL }}default.png" alt="default product image">
                                    </div>
                                {% endif %}
                                <h2>{{ item.product.name }}</h2>
                                <div class="product-price"><i class="fas fa-euro-sign"></i>{{ item.product.price }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="spinner-container">
            <div class="spinner-border text-primary"></div>
        </div>
    </section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
        {{ stripe_public_key|json_script:"id_stripe_public_key" }}
        {{ client_secret|json_script:"id_client_secret" }}
        <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
