{% extends "base.html" %}
{% load static %}

{% block extra_title %} Checkout success {% endblock %}

{% block page_header %}
<header>
    <div class="hero-global">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Checkout Success</h1>
                    <span class="hero-border"></span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
    <div class="checkout-success-container">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>Your order was successful!</p>
                    <p>Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
                    <p>Thank you for shopping with us!</p>
                </div>
            </div>
        </div>

        <div class="order-info">
            <div class="container">
                <p class="order-number">
                    Order Number: <strong>{{ order.order_number }}</strong>
                </p>
                <p class="order-full-name">
                    Full Name: <strong>{{ order.full_name }}</strong>
                </p>
                <p class="order-email">
                    Email: <strong>{{ order.email }}</strong>
                </p>
                <p class="order-phone-number">
                    Phone: <strong>{{ order.phone_number }}</strong>
                </p>
                {% if order.postcode %}
                    <p class="order-postcode">
                        Postcode: <strong>{{ order.postcode }}</strong>
                    </p>
                {% endif %}
                {% if order.county %}
                    <p class="order-county">
                        County: <strong>{{ order.county }}</strong>
                    </p>
                {% endif %}
                <p class="town">
                    Town/City: <strong>{{ order.town_or_city }}</strong>
                </p>
                <p class="order-address-1">
                    Street Address 1: <strong>{{ order.street_address1 }}</strong>
                </p>
                {% if order.street_address2 %}
                    <p class="order-address-2">
                        Street Address 2: <strong>{{ order.street_address2 }}</strong>
                    </p>
                {% endif %}
                <p class="order_date">
                    Order Date: <strong>{{ order.date }}</strong>
                </p>
                <div class="order-items">
                    <p>Order Items:</p>
                    <div class="row">
                        {% for item in order.lineitems.all %}
                        <div class="col-6">
                            {% if item.product.image %}
                                <div class="product-image">
                                    <img class="img-thumbnail mb-4" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                </div>
                            {% else %}
                                <div class="product-image">
                                    <img class="img-thumbnail mb-4" src="{{ MEDIA_URL }}default.png" alt="default product image">
                                </div>
                            {% endif %}
                            <p class="item-name">Product Name: <strong>{{ item.product.name }}</strong></p>
                            <p class="item-price">Product Price: <strong><i class="fas fa-euro-sign"></i> {{ item.product.price }}</strong></p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <p class="order-total">
                    Order Total: <strong><i class="fas fa-euro-sign"></i> {{ order.order_total }}</strong>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
