.profile-hero {
    padding: 80px 0px;
}

.profile-content {
    margin-top: 80px;
    margin-bottom: 80px;
}

#profile-update-form .btn-link {
    display: flex;
    margin-left: auto;
}

.order-history {
    border-left: 1px solid rgb(122, 122, 122);
    border-right: 1px solid rgb(122, 122, 122);
    padding: 0px 10px;
}

.order-history .order-container {
    border: 1px solid black;
    padding: 20px;
}

.order-history .order-container .order-items {
    margin: 20px 0px;
}

.order-history .order-container .order-items .order-items-heading {
    margin-bottom: 0;
}