/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Red+Hat+Display:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variable Setup */
:root {
    --header-blue: #0077b6;
    --header-light-blue: #00b4d8;
    --baby-blue: #90e0ef;
    --light-blue: #caf0f8;
    --light-grey: #d7d7d7;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    margin-top: 88px;
}

/* Heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 300;
    color: var(--header-blue);
}

h2 {
    font-weight: 400;
    color: var(--header-light-blue);
}

h3 {
    font-weight: 700;
    color: var(--header-blue);
}

h4 {
    font-weight: 300;
    color: var(--header-blue);
}

h5 {
    font-weight: 400;
    color: var(--header-light-blue);
}

h6 {
    font-weight: 700;
    color: var(--header-blue);
}

/* btn styles */
.btn-link {
    display: inline-block;
    padding: 10px 20px;
    font-weight: 700;
    background-color: var(--baby-blue);
    color: white;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.category {
    background-color: var(--baby-blue);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.btn-link:hover {
    background-color: var(--header-blue);
    text-decoration: none;
    color: white;
}

.more-info-btn,
.edit-product-btn {
    background-color: var(--header-blue);
    border: 1px solid var(--header-blue);
    color: white;
}

.delete-product-btn {
    background-color: #dc3545 !important;
    border: 1px solid #dc3545;
    color: white !important;
    margin-top: 20px;
}

.delete-product-btn:hover {
    background-color: white !important;
    color: #dc3545 !important;
}

.more-info-btn:hover {
    background-color: white;
    color: var(--header-blue);
}

.edit-product-btn:hover {
    background-color: white;
    color: var(--header-blue);
}

.white {
    color: white;
}

/* Border styles */

.hero-border {
    width: 50px;
    height: 2px;
    background-color: var(--light-grey);
}


/* Home styles */
.home-hero {
    padding: 60px 0px;
}

.home-hero .hero-img {
    max-width: 100%;
}

.home-hero .hero-img img {
    height: 350px;
    width: 350px;
    max-width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

@media only screen and (max-width: 767px) {
    .home-hero .hero-img {
        margin-top: 50px;
    }
}

/* About styles */
.about-section {
    padding: 100px 0px;
}

.about-section .about-title {
    margin-bottom: 60px;
}

.about-section .service-icon i {
    font-size: 21px;
    width: 60px;
    height: 60px;
    background-color: var(--baby-blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
    border: 1px solid var(--baby-blue);
    transition: all 0.25 ease-in-out;
}

.about-section .service-icon i:hover {
    background-color: white;
    color: var(--baby-blue);
    transition: all 0.25s ease-in-out;
}

@media only screen and (max-width: 991px) {
    .about-section .service-item {
        margin-bottom: 50px;
    }
}

/* Testimonial styles */
.testimonials-section {
    padding: 80px 0px;
    background-color: var(--light-grey);
}

.testimonials-section .testimonial-slider {
    margin-top: 50px;
    padding: 20px;
    background-color: white;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.testimonial-description {
    margin-bottom: 50px;
}

.slick-list {
    margin: 0 50px !important;
}

.prev,
.next {
    width: 60px;
    height: 60px;
    background-color: var(--header-blue);
    color: white;
    outline: none;
    border: 1px solid var(--header-blue);
    transition: all 0.25s ease-in-out;
}

.prev:hover,
.next:hover {
    background-color: white;
    color: var(--header-blue);
}

.slider-controls {
    margin-top: 30px;
}

.slider-controls .next {
    margin-left: 10px;
}

/* Navbar Styles*/

.navbar {
    padding: 20px;
}

.navbar .brand a {
    text-decoration: none;
}

.navbar .nav-items {
    list-style: none;
    margin-bottom: 0;
}

.navbar .nav-items .nav-item {
    margin-left: 20px;
}

.navbar .nav-items .nav-item a {
    color: var(--header-light-blue);
    text-decoration: none;
    display: inline-block;
}

.navbar .nav-items .nav-item .nav-item-border {
    height: 2px;
    background-color: var(--light-blue);
    width: 5px;
    transition: all 0.25s ease-in-out;
}

.navbar .nav-items .nav-item a:hover + .nav-item-border {
    width: 100%;
}

.nav-checkout,
.nav-bag {
    margin-left: 40px;
}

.nav-bag, a i:hover {
    color: var(--header-light-blue);
    transition: 0.25s ease-in-out;
}

.nav-login a i:hover {
    color: var(--header-light-blue);
    transition: 0.25s ease-in-out;
}

.nav-checkout a i:hover {
    color: var(--header-light-blue);
    transition: 0.25s ease-in-out;
}

.nav-product a i:hover {
    color: var(--header-light-blue);
    transition: 0.25s ease-in-out;
}

@media only screen and (max-width: 700px) {
    body {
        margin-top: 178px;
    }

    .navbar .nav-items {
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .navbar .nav-items .nav-item {
        width: 100%;
    }

    .navbar .nav-items .nav-item:first-child {
        margin-left: 0;
    }
}

@media only screen and (max-width: 425px) {
    body {
        margin-top: 264px;
    }

    .navbar .nav-items {
        flex-wrap: wrap;
    }

    .navbar .nav-items .nav-item {
        margin-left: 0;
        margin-bottom: 30px;
    }

    .navbar .nav-items .nav-item {
        width: 50%;
    }
}

/* Projects styles */

.projects-hero {
    padding: 80px 0px;
}

.projects-container .project-item .project-image .img-thumbnail {
    height: 200px;
}

.projects-container .project-item {
    margin-bottom: 80px;
}

.projects-container .project-item .btn-link {
    margin-top: 50px;
}

.project-hero {
    padding-top: 80px;
    padding-bottom: 40px;
}

.project-container {
    margin-bottom: 50px;
}

/* Products styles */

.template-product-hero,
.design-product-hero,
.single-product-hero,
.add-product-hero,
.edit-product-hero {
    padding: 80px 0px;
}

.product-container .product-item {
    margin-bottom: 150px;
    border-bottom: 2px solid var(--light-grey);
}

.product-container .product-item .product-btns{
    margin-bottom: 20px;
}

/* Bag styles */

.shopping-bag-hero {
    padding: 80px 0px;
}

.shopping-bag-container .shop-redirects {
    margin-top: 50px;
}

.shopping-bag-container .no-items i {
    color: var(--baby-blue);
    font-size: 20px;
}

.shopping-bag-container .bag-items .product-image {
    max-width: 270px;
}

.shopping-bag-container .bag-items .bag-item-info {
    margin-left: 100px;
}

.shopping-bag-container .bag-items {
    margin-bottom: 50px;
}

.bag-gold {
    color: gold;
}

.bag-total-price {
    margin-left: 20px;
}

@media only screen and (max-width: 513px) {
    .shopping-bag-container .bag-items .bag-item-info {
        margin-left: 0px;
    }
}

/* Toast styles */

.toast {
    margin-left: auto;
}

/* Checkout styles */

.checkout-hero,
.checkout-success-hero {
    padding: 80px 0px;
}

.checkout-items {
    max-height: 500px;
    overflow: scroll;
    padding: 10px;
}

#submit-button {
    padding: 10px 20px;
}

.checkout-container {
    position: relative;
}

.checkout-container .spinner-container {
    display: none;
    background-color:rgba(106, 100, 100, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Allauth styles */

.header-container {
    padding: 50px 0;
}

.header-container .row {
    justify-content: center;
}

.header-container form {
    margin-top: 50px;
}

.header-container button {
    padding: 10px 20px;
    font-weight: 700;
    background-color: var(--baby-blue);
    color: white;
    transition: all 0.25s ease-in-out;
}

.header-container button:hover {
    background-color: var(--header-blue);
}

/* 404 page styles */

.error-hero {
    padding: 80px 0;
    color: white;
    margin-bottom: 50px;
}

.error-hero i {
    font-size: 50px;
}

/* Footer styles */

footer {
    padding: 50px 0;
    background-color: #fafafa;
}

footer form {
    margin: 0 !important;
}

footer h2 {
    font-weight: 400 !important;
    font-size: 2rem !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

footer a {
    color: var(--header-blue);
    transition: all 0.25s ease-in-out;
}

footer i {
    font-size: 20px;
}

.contact-info .contact-meta {
    display: block;
    text-decoration: none;
}

.contact-info .contact-meta:first {
    margin-bottom: 10px;
}

.contact-info .contact-meta i {
    margin-right: 10px;
}

@media only screen and (max-width: 767px) {
    .contact-info {
        margin-bottom: 30px;
    }
}
