{% extends "base.html" %}
{% load static %}

{% block extra_title %} Single blog {% endblock %}

{% block page_header %}
    <header>
        <div class="hero-global">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        {% if blog.image %}
                            <div class="blog-image">
                                <img class="img-thumbnail mb-4" src="{{ blog.image.url }}" alt="{{ blog.name }}">
                            </div>
                        {% else %}
                            <div class="blog-image">
                                <img class="img-thumbnail mb-4 w-100" src="{{ MEDIA_URL }}default.png" alt="default blog image">
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
<div class="blog-container">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-12">
                <h1 class="blog-title">{{ blog.title }}</h1>
                <span><strong>by {{ blog.name }}</strong></span>
                <p class="blog-content">{{ blog.content }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}