{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
{% endblock %}

{% block extra_title %} Add product {% endblock %}

{% block page_header %}
    <header>
        <div class="hero-global">
            <div class="container">
                <div class="hero-title">
                    <h1>Add New Product</h1>
                    <span class="hero-border"></span>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="add-product">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <a class="btn-link" href="{% url 'templates' %}">Cancel</a>
                        <button class="btn-link" type="submit">Add Product</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
