{% extends "base.html" %}
{% load static %}

{% block extra_title %} Product {% endblock %}

{% block page_header %}
    <header>
        <div class="hero-global">
            <div class="container text-center">
                <h1 class="d-inline-block">
                    {{ title }}
                    <span class="hero-border"></span>
                </h1>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="product-single-container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="single-product-item text-center">
                        {% if product.image %}
                            <div class="product-image">
                                <img class="img-thumbnail mb-4" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </div>

                            {% else %}
                            <div class="product-image">
                                <img class="img-thumbnail mb-4" src="{{ MEDIA_URL }}default.png" alt="default product image">
                            </div>
                        {% endif %}
                        <h2 class="single-product-title">{{ product.name }}</h2>
                        <p class="singleproduct-description">{{ product.description }}</p>
                        {% if product.category %}
                            <span class="category d-inline-block mb-4">{{ product.category }}</span>
                        {% endif %}
                        <div class="product-price">{{product.price}}</div>
                        <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="product-btns">
                                <a href="{% url 'home' %}" class="btn-link"><i class="fa-solid fa-chevron-left mr-2"></i>Go back</a>
                                <input type="submit" class="btn-link rounded-0" value="Add to bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="reviews text-center">
            <h3>Reviews</h3>
            <strong>We want to hear your feedback!</strong>
            {% if request.user.is_authenticated %}
                <form action="{% url 'add_review' product.id %}" method="post">
                    {% csrf_token %}
                    <div class="customer-comment">
                        <textarea name="content" id="content" placeholder="What do you think about this product?" required></textarea>
                    </div>

                    <div class="product-rating">
                        <label for="rating">Product rating:</label>

                        <select name="rating" id="rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        </select>
                    </div>
                    <input class="btn-link" type="submit" value="Submit review"></input>
                </form>
            {% endif %}
        </div>

        {% if reviews %}
            <div class="row">
                {% for review in reviews %}
                    <div class="col-sm-6">
                        <div class="review-card">
                            <h4>
                                {{ review.content }}
                            </h4>
                            <p>
                                <strong>- {{ review.created_by }}</strong>
                            </p>
                            <p>{{ review.rating }}/5</p>

                            {% if request.user == review.created_by or request.user.is_superuser %}
                                <a href="{% url 'delete_review' review.id %}" class="delete-btn btn-link">Delete review</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
